.photo-grid {
    margin: auto;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    grid-gap: 16px;
    background-color: #2A2C2F;
    padding: 92px 48px 0;


}

