.lead__title {
    max-width: 720px;
    max-height: 200px;
    margin: auto;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}


@media screen and (max-width: 612px) {
    .lead__title  {
        font-size: 70px;
        line-height: 74px;
    }
}

@media screen and (max-width: 470px) {
    .lead__title  {
        font-size: 40px;
        line-height: 44px;
    }
}