.place__paragraph {
    margin: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

.place__paragraph ~ .place__paragraph {
    margin-top: 26px;    
}


@media screen and (max-width: 680px) {
    .place__paragraph {
        padding: 0 16px 0;
    }
}

@media screen and (max-width: 680px) {
    .place__paragraph ~ .place__paragraph {
        margin-top: 25px;    
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        padding: 0 16px 0;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph ~ .place__paragraph {
        margin-top: 25px;    
    }
}